html {
	font-size: 62.5%;
	box-sizing: border-box;
	/*height: 100%;*/
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #a1c5e7;
	/*background-color: rgba(223, 242, 247, .5);*/
	/*height: 100%;*/
	/*margin: 0;*/
}

img {
	max-width: 100%;
}

.container {
	width: min(90%, 1200rem);
	margin: 0 auto;
}

.header {
	padding: 4rem 0;
}

.h1 {
	text-align: center;
	margin: 0;
}

.chat-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 4rem;
}

.chat {
	display: flex;
	height: 70rem;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*
::-webkit-input-placeholder {
	color: .711
}
*/

input {
	/**/
	border: 0;
	padding: 1.5rem;
	border-radius: 1rem;
	width: 100%;
}

.messages {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	height: 100%;
	width: 100%;
	background-color: white;
	padding: 3rem;
	margin: 1.5rem;
	border-radius: 1rem;
	gap: 1.5rem;
}


.bot-img {
	width: 40rem;
}

/* Estilos de Scroll para motores Webkit y blink (Chrome, Safari, Opera... ) */

.messages::-webkit-scrollbar {
    -webkit-appearance: none;
}

.messages::-webkit-scrollbar:vertical {
    width:10px;
}

.messages::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.messages::-webkit-scrollbar:horizontal {
    height: 10px;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.messages::-webkit-scrollbar-track {
    border-radius: 10px;  
}

/*_________________________________*/


#bot {
	margin-left: auto;
}

.bot {
	font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco, monospace;
}

.avatar {
	/**/
	/*height: 25px;*/
	height: 4rem;
}

.response {
	display: flex;
	align-items: center;
	gap: 1rem;
	/*margin: 1%;*/
}

.response span {
	padding: 1.5rem;
	border-radius: 2rem;
}

.user span {
	background-color: #59f56e;
}

.bot span {
	background-color: #eeaaff;
}

.footer {
    color: #464646;
    font-weight: bold;
    text-align: center;
    padding: 3rem 0;
}

.footer p {
    margin: 0;
}

.rojo {
	color: rgb(252, 0, 0);
}

/* Mobile */

@media (max-width: 768px) {
	.header {
		padding: 2rem 0 0 0;
	}

	.chat-container {
		flex-direction: column-reverse;
		gap: 0.5rem;
		margin-bottom: 2rem;
	}

	.bot-img {
		width: 15rem;
		margin-bottom: 2rem;
	}
}

	/*
@media only screen and (max-width: 980px) {
	.container {
		flex-direction: column;
		justify-content: flex-start;
	}

	.chat {
		width: 75vw;
		margin: 10vw;
	}
}
	*/